 <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">Company Transaction Details</div>
</md-toolbar>
<md-card class="cardFormCardcardFormCard" layout="row" layout-xs="column">
    <md-card flex class="insideCard">
        <h1 class="md-title" layout-align="center">Select City</h1>
        <select class="formSelector"  ng-model="dataVal.cityId">
            <option ng-repeat="city in cities track by $index" ng-value="city.cityId">
              {{city.cityName}}
            </option>
        </select>
        <h1 class="md-title" layout-align="center">Select Company</h1>
        <select ng-change="clearForm()" class="formSelector" ng-model="dataVal.companyId" ng-disabled="!dataVal.cityId ">
            <option ng-repeat="company in allCompany" value="{{company.companyId}}">
                {{company.companyName}}
            </option>
        </select>
    </md-card>
    <md-card flex>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Details</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>   
            <md-input-container>              
                <md-button 
                    ng-disabled="!dataVal.companyId "
                    class="md-raised md-primary"
                    ng-click="creditDetails(dataVal.companyId)">
                    Credit Details
                </md-button>
            </md-input-container> <br>  
            Total Credits:{{sumCredit}} <br>
            <md-input-container>   
                <md-button 
                    ng-disabled="!dataVal.companyId"
                    class="md-raised md-primary"
                    ng-click="debitDetails(dataVal.companyId)">
                    Debit Details
                </md-button>       
            </md-input-container> <br>        
            Total Debit:{{sumDebit}} <br>
            <md-input-container>                  
                <br> Total Used:{{sumUsed}}
            </md-input-container>
        </md-card-content>
    </md-card>
</md-card>
<hr>
<md-button 
    ng-disabled="!dataVal.companyId"
    class="md-raised md-primary"
    ng-click="VendorInfo(dataVal.companyId,dataVal.cityId)">
    Vendor Details
</md-button>   
<hr>
<md-card ng-repeat="vendor in vendorobj  track by $index" class="cardFormCard">
    <h4>
        <center><b>{{vendor.vendorname}}</b></center>
    </h4>
    <div layout="row">
        <p flex>Impression Used</p>
        <p flex align="right"> {{vendor.used}}</p>
    </div>
    <div layout="row">
        <p flex>Impression Assigned </p> 
        <p flex align="right">{{vendor.assigned}}</p> 
    </div>
</md-card>
<hr>
<md-button 
    ng-disabled="!dataVal.companyId"
    class="md-raised md-primary"
    ng-click="dateInfo(dataVal.companyId,dataVal.cityId)">
    Date Details
</md-button>     
<hr>
<md-card class="cardFormCard" ng-repeat="datevalue in dateobj  track by $index">
    <h4>
        <center><b>Assign Date: {{ datevalue.date | date : 'MMMM dd yyyy'}}</b></center>
    </h4>
     <div layout="row">
        <p flex>Vendor Name</p>
        <p flex align="right"> {{datevalue.vendorname}}</p>
    </div>
    <div layout="row">
        <p flex>Impression Used </p> 
        <p flex align="right">{{datevalue.used}}</p> 
    </div>
    <div layout="row">
        <p flex>Impression Assigned</p> 
        <p flex align="right">{{datevalue.assigned}}</p> 
    </div>
</md-card>
