<md-card class="companyContentCard">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline" align="center">Create Company Content</span>
    </md-card-title-text>
  </md-card-title>
    Select Company Name:<br>
    <select class="companySelector" ng-model="dataVal.companyId">
      <option  
        ng-repeat="company in allCompany" 
        value="{{company.companyId}}">
        {{company.companyName}}
      </option>
    </select><br>

    <md-input-container class="md-block">
      <label> Company Title</label>
      <input ng-model="dataVal.title">
    </md-input-container>

      Description:<br>
      <textarea name="editor" ng-model="dataVal.description"></textarea>
      <br>


    Image:<br>
    <input 
      type="file" 
      name="file" 
      id="file"
      onchange="angular.element(this).scope().getFileDetails(this)" 
      accept="image/*" 
      multiple />

    <md-progress-circular 
      md-mode="determinate" 
      ng-show="isLoading"
      value="{{progressStatus}}">
    </md-progress-circular><br><br>

  <br><br>
   <md-card ng-show="message"> 
     <label>{{message}}</label>
   </md-card>
    <!-- <button class="btn" ng-click="createPath()">Create Path</button> -->
    
    <md-button 
      type="submit" 
      class="md-primary md-raised" 
      ng-click="upload()">
      Upload Image
    </md-button>
    <md-button 
      class="md-primary md-raised" 
      ng-disabled="!show"
      ng-click="uploadLinks(dataVal.companyId,dataVal.title)"> 
      Upload Data
    </md-button>
</md-card>
