<md-card class="impCreditForm">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Add Company Impression Credits</h2>
    </div>
  </md-toolbar>
  <form name="compImpCreditForm">
    <md-select placeholder="Select Company Name" 
      ng-model="companyId"
      md-on-open="getTabId(vendorId)">
      <md-option ng-value="company.companyId" 
        ng-repeat="company in allCompany">
        {{company.companyName}}
      </md-option>
    </md-select>

    <md-input-container class="md-block">
      <label>Impression Credited</label>
      <input type="number"  ng-model="data.impressionCredited">
    </md-input-container> 

    <div>
        <md-datepicker ng-model="data.validityDate" 
            md-placeholder="Choose Validity">
        </md-datepicker>
    </div>

    <md-button class="md-raised md-primary fullWidthButton" 
        type="submit" 
        ng-click="submitCredit(data,companyId)">
        Submit
    </md-button>
  </form>
</md-card>


<md-card class="companyImpDebForm">
  <md-toolbar >
  <div class="md-toolbar-tools">
    <h2 class="md-flex" >Add Company Impression</h2>
  </div>
  </md-toolbar>
  <form name="debitForm">
    <md-select placeholder="Select Vendor" 
      ng-model="vendorId" 
      md-on-open="getTabId(vendorId)">
        <md-option ng-value="vendor.vendorId" 
          ng-repeat="vendor in allVendors track by $index">
          {{vendor.vendorName}}
        </md-option>
    </md-select>

    <md-select placeholder="Select Vendor Tab" 
      ng-model="TabId"
      md-on-open="getTabId(vendorId)">
        <md-option ng-value="tab.TabId" 
          ng-repeat="tab in allVendorsTabs track by $index">
          {{tab.TabId}}
        </md-option>
    </md-select>

    <md-select placeholder="Select Company" 
      ng-model="companyId"
      md-on-open="getTabId(vendorId)">
        <md-option ng-value="company.companyId" 
          ng-repeat="company in allCompanies track by $index">
          {{company.companyName}}
        </md-option>
    </md-select>

    <md-input-container class="md-block">
      <label>Impression Assigned</label>
      <input type="number"  required md-no-asterisk name="description" ng-model="impressionAssigned">
      <p class="error validationerror"
    ng-show="myform.email.$invalid && myform.email.$touched">
    Add Some Value
    </p>
    </md-input-container>          

    <div>
      <md-datepicker ng-model="startDate" md-placeholder="Start Date"></md-datepicker>
      <p class="error validationerror"
      ng-show="myform.email.$invalid && myform.email.$touched">
      Select a Date
    </p>
  </div>
    <div>
      <md-datepicker ng-model="endDate" md-placeholder="End Date"></md-datepicker>
      <p class="error validationerror"
      ng-show="myform.email.$invalid && myform.email.$touched">
      Select a Date
    </p>
  </div>

    <div align="center" class="impDebtSubmitButton">
      <md-button class="md-raised md-primary fullWidthButton"
        type="submit"
        ng-click="impressionAssign(vendorId,TabId,companyId,impressionAssigned,startDate,endDate)">
        Add Impression to Company
      </md-button>
    </div>
  </form>
</md-card>



