<md-card class="companyImpDebForm">
	<md-toolbar >
		<div class="md-toolbar-tools">
			<h2 class="md-flex">Update Pending Campaign To Running Campaign</h2>
		</div>
	</md-toolbar>
		<md-select placeholder="Select City" 
	    	ng-model="dataVal.cityId" >
	        <md-option ng-click="setCityId(city.cityId)" ng-value="city.cityId"
	      		ng-repeat="city in cities track by $index">
	      		{{city.cityName}}
	      	</md-option>
	    </md-select>
		<md-select placeholder="Select Vendor" 
            ng-model="dataVal.vendorId" 
            ng-change="getTabId(dataVal.vendorId)">
              <md-option ng-value="vendor.vendorId" 
                ng-repeat="vendor in allVendors track by $index">
                {{vendor.vendorName}}
              </md-option>
          </md-select>

          <md-select placeholder="Select Tab" 
            ng-model="dataVal.tabId">
              <md-option  ng-repeat="tab in tabNames" 
               value="{{tab.tabId}}">{{tab.name}}
              </md-option>
          </md-select>

		<div align="center" class="impDebtSubmitButton">
			<md-button class="md-raised md-primary fullWidthButton"
				type="submit"
				ng-disabled="!dataVal.tabId || !dataVal.cityId || !dataVal.vendorId"
				ng-click="enterPending(dataVal.tabId)">
				Update Pending To Running
			</md-button>
		</div>
     <md-card ng-show="message" >
		    <h5 class="md-headline">{{message}}</h5>
	    </md-card>
</md-card>